@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full;
  }
}

@layer utilities {
  .pt-safe {
    padding-top: calc(4rem + env(safe-area-inset-top));
  }
}

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-content {
  flex-grow: 1;
  overflow-y: auto;
}

.footer-wrapper {
  margin-top: auto;
}